<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>View Book</title>
</head>
<body>
<form>
    <table border="1px" cellspacing="0" cellpadding="5x">
        <tr>
            <th>Book's name</th>
            <td th:text="${book.name}"></td>
        </tr>

        <tr>
            <th>Description</th>
            <td th:text="${book.description}"></td>
        </tr>

        <tr>
            <th>Quantity</th>
            <td th:text="${book.quantity}"></td>
        </tr>

    </table>

</form>

</body>
</html>